@layer reset;
@import "@unocss/reset/tailwind.css" layer(reset);
@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@stylex stylesheet;

::backdrop {
  background-color: hsl(0deg 0% 0% / 0.8);
  backdrop-filter: "blur(4px)";
}
